@import '../../base.css';
@import '../../colors.css';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #f0f2f5; /* Säädä väriä tarpeen mukaan */
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.form {
  width: 100%;
  max-width: 100%; /* Säädä leveyttä tarpeen mukaan */
}

.label {
  display: block;
  margin-bottom: 10px;
}

.select,
.input {
  width: 100%;
  margin: 10px 0;
  padding: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc; /* Säädä väriä tarpeen mukaan */
}

.button {
  width: 100%;
  padding: 10px;
  background-color: var(
    --clockwise-blue
  ); /* Varmista, että tämä väri on määritelty colors.css:ssä */
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}
