@import '../../base.css';
@import '../../colors.css';

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 20px;
}

.label,
.select,
.input,
.button {
  margin-bottom: 10px;
}

.select,
.input {
  padding: 14px;
  border-radius: 4px;
  border: 1px solid #ccc; /* Light grey border */
}

.button {
  padding: 10px;
  background-color: #007bff; /* Blue background */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
