@import '../../base.css';
@import '../../colors.css';

.reportSection {
  width: 100%;
  /* Lisää tarvittaessa tyylejä */
}

.reportItem {
  /* Voit lisätä erityisiä tyylejä raportointikohteille, jos tarpeen */
}

.totalHours {
  font-weight: bold;
  /* Lisää tarvittaessa tyylejä */
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  /* Lisää tarvittaessa tyylejä */
}
