@import '../../base.css';
@import '../../colors.css';

.button {
  background-color: var(--clockwise-blue);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.checkboxContainer {
  color: #333333;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  cursor: pointer;
}

.linkContainer {
  text-align: center;
  margin-top: 20px;
}

.link {
  color: var(--clockwise-blue);
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 16px;
  font-size: 14px;
  cursor: pointer;
}

.footer {
  color: #000;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .header {
    font-size: 20px;
  }

  .logo {
    width: 100px;
  }

  .form {
    margin: 10px;
  }
}
