@import '../../base.css';
@import '../../colors.module.css';

.settingsButtons {
  width: 100%;
}

.link {
  display: block;
  color: var(--clockwise-blue);
  margin-bottom: 0.5rem;
  text-decoration: none;
}

.footer {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  background-color: #ffffff;
}

.footerContainer {
  width: 100%;
}

.footerButtons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.additionalLinks {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 400px) {
  .rdp {
    display: none;
  }
}
