@import '../../base.css';
@import '../../colors.css';

.settingsOptions {
  width: 100%;
}

.additionalLinks {
  width: 100%;
  margin-top: 1rem;
}

.link {
  display: block;
  color: var(--clockwise-blue);
  margin-bottom: 0.5rem;
  text-decoration: none;
}

.footer {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  background-color: #ffffff;
}
