@import '../../base.css';
@import '../../colors.module.css';

.companyList {
  height: 50vh;
  width: 90vw;
  overflow-y: auto;
  margin-top: 16px;
  border-radius: 10px;
}

.companyListContainer {
  background: var(--scrollable-background);
  border-radius: 10px;
}

.expandableSection {
  max-height: 300px; /* Muokkaa korkeutta tarpeen mukaan */
  overflow-y: auto; /* Sallii sisällön vierittämisen */
  margin-top: 10px;
  border: 1px solid #ccc; /* Kevyt kehys laajennettavalle alueelle */
  border-radius: 4px; /* Pyöristetyt kulmat */
}
