@import '../../base.css';
@import '../../colors.module.css';

.button {
  background-color: var(--clockwise-blue);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  font-size: 16px;
  cursor: pointer;
}

.linkContainer {
  padding-top: 0;
  margin: 0 10px;
  text-align: center;
  text-align: left;
  align-items: left;
}

p {
  color: #000;
}

.link {
  font-weight: bold;
  color: var(--clockwise-blue);
  text-decoration: none;
  margin-bottom: 16px;
  font-size: 14px;
  cursor: pointer;
}

.registerNavigation {
  margin: 0;
}

.loginFormFooter {
  font-size: 14px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.loginFormFooterBottomPart {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.highlight {
  color: var(--clockwise-blue);
}

@media (max-width: 600px) {
  .header {
    font-size: 20px;
  }
}
