@import '../../base.css';
@import '../../colors.css';

.button {
  background-color: var(--clockwise-blue);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  font-size: 16px;
  cursor: pointer;
}

.linkContainer {
  text-align: center;
}

p {
  color: #000;
}

.link {
  font-weight: bold;
  color: var(--clockwise-blue);
  text-decoration: none;
  margin-bottom: 16px;
  font-size: 14px;
  cursor: pointer;
}

.footer {
  font-size: 14px;
  text-align: center;
}

.highlight {
  color: var(--clockwise-blue);
}

/* Lisää tarvittaessa responsiivisia tyylejä */
@media (max-width: 600px) {
  .header {
    font-size: 20px;
  }
}
