@import '../../base.css';
@import '../../colors.css';

p {
  text-align: center;
  margin: 10px 0 20px;
  max-width: 400px;
}

a {
  color: var(--clockwise-blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.footer {
  margin-top: 30px;
}

.link {
    color: var(--clockwise-blue);
    font-weight: bold;
}
